@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("./images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
}

.container {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.text {
  width: 500px;
  margin: 0 30px;
}

.heading-text {
  color: white;
  font-weight: 700;
  font-size: 40px;
}

.paragraph {
  font-size: 16px;
  margin: 25px 0;
  color: white;
}

.form {
  width: 550px;
  margin-top: 40px;
}

.price-text {
  text-align: center;
  width: 550px;
  background-color: hsl(248, 32%, 49%);
  border-radius: 8px;
  padding: 15px;
  margin: 20px 0;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.price-text span {
  color: hsl(246, 25%, 77%);
}

fieldset {
  background-color: white;
  height: 530px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 550px;
}

input,
button {
  width: 450px;
  height: 50px;
  margin: 30px 40px 0px 40px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid hsla(249, 10%, 26%, 0.6);
}

input {
  padding: 10px 30px;
  font-weight: 600;
}

button {
  background-color: hsl(154, 59%, 51%);
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: hsla(154, 59%, 51%, 0.7);
}

.agreement {
  font-size: 12px;
  text-align: center;
  color: hsl(246, 25%, 77%);
  margin-top: 10px;
}

.agreement span {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}

.first-name-error, .last-name-error, .email-error, .password-error {
  color: hsl(0, 100%, 74%);
  font-size: 12px;
  display: flex;
  justify-content: end;
  margin-right: 55px;
  margin-top: 2px;
  font-style: italic;
  font-weight: 600;
}

@media (max-width: 480px) {
  body {
    background-image: url("./images/bg-intro-mobile.png");
  }
  .container {
    flex-direction: column;
    max-width: 375px;
    height: 1000px;
  }

  .text {
   width: 250px;
   text-align: center;
  }

  .heading-text {
   font-size: 28px;
  }

  .form {
   width: 300px;
   margin-top: -15px;
  }

  .price-text {
   width: 300px;
   padding: 15px 20px;

  }

  fieldset {
   width: 300px;
  }

  input, button {
   width: 240px;
   margin: 20px 25px;
  }

  .first-name-error, .last-name-error, .email-error, .password-error {
    margin-right: 30px;
    margin-top: -13px;
  }
}
